<tr>
  <td><%= house.address %></td>
  <td><%= link_to 'Show', house %></td>
  <td><%= link_to 'Edit', edit_house_path(house) %></td>
  <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
