<!DOCTYPE html>
<html>
  <head>
    <title>ActionCable</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>

  <body>

    <%= yield %>

  </body>
  <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap">
  </script>
</html>
